:root {
    --first-color: #283c63;
    --second-color: #928a97;
    --third-color: #fbe8d3;
    --forth-color: #f85f73;
    --fifth-color: #c2374a;
}

body {
    background-color: var(--first-color);
    color: white; 
    /* font-size: 15px; */
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 0;
}

.flex-items > * {
    padding: 7px 0;
}

input[type=text], input[type=password] {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    border: 2px solid #EEE; 
}

input.input-error {
    background-color: rgba(255, 220, 220, 1);
    border: 2px solid rgba(255, 150, 150, 1); 
}

input:focus, textarea:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #1da1f2;
  }

a {
    color: rgb(128, 204, 255)
}

button.button1{
    display:inline-block;
    padding: 9px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    border: 2px solid var(--forth-color);
    color: white;
    font-size: 16px;
    background-color: transparent;
}

button.button1:hover {
    background-color:  var(--forth-color);
}